.text-field {
    -fx-background-color: transparent;
   
    -fx-padding: 0.166667em;
    -fx-text-fill:#ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14;    
  -fx-background-insets: 0, 1;
 -fx-background-radius: 3, 2;
}
 
.text-field:hover {
    -fx-background-color:rgb(229,229,229,0.8);
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
    -fx-text-fill: rgb(0,0,255) ;
	-fx-font-size: 16;
}
 
.text-field:focused {
    
    -fx-background-color:rgb(255,255,255,0.8); /*transparent, lightgrey, transparent, white;*/
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
     -fx-text-fill:rgb(0,0,0) ;
     -fx-font-size: 14;
}


#errorTextField {
    -fx-background-color: #ffbbbb;
    -fx-border-color: #f00;
}

/*******************************textarea************************ */
.text-area {
    -fx-effect: innershadow(one-pass-box, gray, 5, 0.3, 1, 1);
     -fx-background-color:transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
  }  
/*.text-area .content{
      -fx-background-color: transparent;
  }
    
 .styled-text-area {
	   -fx-background-color: transparent;
}
    
.styled-text-area .content {
	   -fx-background-color: transparent;
}
*/
.text-area:input {
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2;
}

.text-area {

-fx-font-family: Consolas;

-fx-font-size: 10;

-fx-text-fill:rgb(255,0,0) ;

}

.text-area:hover {
 -fx-background-color:transparent;/*rgb(192,192,192,0.8);*/
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
-fx-text-fill: rgb(0,0,255) ;
-fx-font-size: 12;
}



.label {
	-fx-text-fill:linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(255,255,77) 0.0, rgb(255,204,102) 100.0);
}
