.label {
	 -fx-text-fill:rgb(196,196,0);
	 -fx-font-size: 14;
	 
}

.check-box {
    -fx-border-color: lightblue; 
    -fx-font-size: 12;
    -fx-border-insets: -5; 
    -fx-border-radius: 5;
    -fx-border-style: dotted;
    -fx-border-width: 2;
    -fx-text-fill:rgb(196,196,0);
}